<div class="container">
  <div class="row">
    <div class="item col-12 mt-5 mb-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品画像irete</td>
            <table class="table">
              <tbody>
                <tr>
                  <td>商品名</td>
                  <td><%= @item.name %></td>
                </tr>
                <tr>
                  <td>商品説明</td>
                  <td><%= @item.introduction %></td>
                </tr>
                <tr>
                  <td>ジャンル</td>
                  <td><%= @item.genre %></td>
                </tr>
                <tr>
                  <td>税抜価格<br>(税抜価格)</td>
                  <td><%= @item.price %></td>
                </tr>
                <tr>
                  <td>販売ステータス</td>
                  <td><%= @item.is_active %></td>
                </tr>
              </tbody>
            </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>