<!--サイドバー概要　user(prifile) & book(new)-->
  <div class="col-2 mt-5">
    <h1>user info</h1>
    <table class="table">
      <tbody>
        <tr>
          <th><%= attachment_image_tag user, :user_image %></th>
        </tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <%= link_to "", edit_user_path(user.id), class: "btn btn-outline-black btn-block fas fa-user-cog" %>
    </div>
    <h2>new book</h2>
    <div class="book-new-form">
      <%= form_with model: @book, local:true do |f| %>
      <div class="form">
        <%= f.text_field :name %>
      </div>
      <div class="form mt-2">
        <%= f.text_area :body %>
      </div>
      <div class="form mt-2">
        <%= f.submit "CreateBook" %>
      </div>
      <% end %>
    </div>
  </div>