<!--サイドバー概要　user(prifile) & book(new)-->
<div class="row">
  <div class="col-2">
    <table class="table">
      <tbody>
        <tr>
          <td>name</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>introduction</td>
          <td><%= user.introdction %></td>
        </tr>
      </tbody>
    </table>
    <div class="book-new-form">
      <%= form_with model: book, local:true do |f| %>
      <div class="form">
        <%= f.text_field :name %>
      </div>
      <div class="form">
        <%= f.text_area :body %>
      </div>
      <div class="form">
        <%= f.submit "CreateBook" %>
      </div>
      <% end %>
    </div>
  </div>
</div>