<div class="container">
  <div class="row">
    <%= render "devise/shared/sideber", user: @user, books: @books %>
    <div class="col-8">
      <h1>Book</h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @user, :user_image, fallback: "no_image.jpg" %>
              <%= @user.name %>
            </td>
            <td><%= link_to @book.name, book_path(@book) %></td>
            <td><%= @book.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>