<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <% @books.each do |book| %>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!--user_image&user.name記述後book詳細表示-->
            <td>
              <%= @user.image %>
              <%= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= book.name %></td>
            <td><%= book.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <%= form_with model: @book, local:true do |f| %>
      <%= f.text_field :name %><br>
      <%= f.text_area :body %><br>
      <%= f.submit "create" %>
    <% end %>
  </div>
</div>